body{
    margin: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
}

header{
  background-color: rgba(182, 241, 156, 0.7);
  padding: 10px;
  color: black;
    width:20%;
    height:100vh;
    position: fixed;
}

nav{
  float: right;
}

nav ul{
  list-style-type: none;
  padding:0;
}

nav li{
    padding:15px;
    border-bottom:1px solid #5fcf55;
}

nav a{
  text-decoration: none;
  color: black;
    display: block;
}

.logo{
  float: left;
}
.logo img{
  height: 50px;
  border-radius:50%;
}

.mean-content{
    margin-left: 200px;
    padding:20px;
    flex: 1;
}
  .text{
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    overflow: auto;
    background-color: #f5f5f5;
    border: 1px solid #eaeaea;
    border-radius: 5px;

  }
 textarea{
    width: 100%;
    min-height: 100px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1em;
   position: absolute;
   bottom: 0;
  }

  button{
    padding:10px 20px;
    width: 40px;
    height: 40px;
    background-color: #487739;
    color: white;
    border: none;
    border-radius: 50%;
    margin-top: 10px;
    cursor: pointer;
    position: absolute;
    right: 5px;
    bottom:50px;
  }
.message {
  margin: 5px 0;
}


.system { color: black; }
.user { color: black; }
.assistant { color:black ; }
