#chat {
  div {
    width: auto;
    border: 2px solid rgb(104, 206, 104);
    padding: 10px;
    overflow-y: auto;
    height: 100vh;
  }
}

.message {
  margin: 5px 0;
}

button {

}

.system { color: black; }
.user { color: black; }
.assistant { color:black ; }
